[submodule "wasm-bindgen"]
	path = wasm-bindgen
	url = https://github.com/wasm-bindgen/wasm-bindgen
[submodule "wasm-streams"]
	path = wasm-streams
	url = git@github.com:guybedford/wasm-streams.git
[submodule "ts-gen"]
	path = ts-gen
	url = git@github.com:wasm-bindgen/ts-gen
